<div [@slideDown]>

<section class="education">
    <h3>Education</h3>
    <div class="education-entry">
      <h4>Bachelor of Engineering (Computer Science and Engineering)</h4>
      <p>Year: 2019 - 2023</p>
      <p>University: Marwadi Education Foundation, Gujarat Technology University(7.93 cgpa)</p>
    </div>
    
    <div class="education-entry">
      <h4>Senior Secondary Education</h4>
      <p>Year: 2017-2019 </p>
      <p>School: Kamla Girls School,Sitamarhi Bihar(68%)</p>
    </div>
    
    <div class="education-entry">
      <h4>High School Education</h4>
      <p>Year:2016-2017</p>
      <p>School: Kamla Girls High(79%)</p>
    </div>
  </section>
  </div>