<div [@slideDown]>

<section class="education">
    <h3>Education</h3>
    <div class="education-entry">
      <h4>Bachelor of Engineering (Computer Science and Engineering)</h4>
      <p>Year: 2019 - 2023</p>
      <p>University: University Institute of Technology, Burdwan University(8 cgpa)</p>
    </div>
    
    <div class="education-entry">
      <h4>Senior Secondary Education</h4>
      <p>Year: 2016-2018 </p>
      <p>School: Regional Secondary School,Madhubani Bihar(78%)</p>
    </div>
    
    <div class="education-entry">
      <h4>Secondary Education</h4>
      <p>Year:2005-2016</p>
      <p>School: CMP School Madhubani(9.4cgpa)</p>
    </div>
  </section>
  </div>