<div [@slideDown]>

<div class="experience">
  <h2>INTERNSHIP/TRAINING</h2>
  <div class="experience-entry">
    <h3>Frontend Developer</h3>
    <p>Ardent Computech Pvt Ltd</p>
    <p>09/2022 - 11/2022, Burdwan West Bengal</p>
    <p>Technologies: HTML, CSS, JavaScript, Bootstrap, jQuery</p>
  </div>
  
  <div class="experience-entry">
    <h3>Full Stack Developer</h3>
    <p>Promact Infotech</p>
    <p>06/2023 - 07/2023, Vadodara Gujarat</p>
    <p>Technologies: AngularJS, .NET Core, TypeScript, Debugging</p>
  </div>
</div>
</div>