<div [@slideDown]>

<div class="experience">
  <h2>INTERNSHIP/TRAINING</h2>
  <div class="experience-entry">
    <h3>Full Stack Developer</h3>
    <p>Altum labs LLP</p>
    <p>01/2023 - 06/2023, Ahmedabad, Gujarat</p>
    <p>Technologies: HTML, CSS, JavaScript, Bootstrap, jQuery</p>
  </div>
  
  <div class="experience-entry">
    <h3>Software Engineer</h3>
    <p>Panamax infotech Pvt Ltd</p>
    <p>01/2024 - 07/2024,Ahmedabad, Gujarat</p>
    <p>Technologies: AngularJS, .NET Core, TypeScript, Debugging</p>
  </div>
  <div class="experience-entry">
    <h3> Full Software Engineer</h3>
    <p>Xapton Solution</p>
    <p>06/2024 - Present, Ahmedabad Gujarat</p>
    <p>Technologies: AngularJS, .NET Core, TypeScript, Debugging</p>
  </div>
</div>
</div>