<div [@slideDown]>

<div class="projects">
    <h2>PERSONAL PROJECTS</h2>
    <div class="project-entry">
      <h3>Bharat Law</h3>
      <p>Tech Stack: AngularJS, .NET Core</p>
      <p>Features: Signup/login with authentication and hashing password</p>
      <p>         Add new research in research Book (uses one to many relationship in DB)</p>
    </div>
    
    <div class="project-entry">
      <h3>Weather App</h3>
      <p>Tech Stack: HTML, CSS, JavaScript</p>
      <p>Features: Uses open weather API to get data</p>
      <p>         Search city name or location from device to know weather</p>
    </div>
  
    <div class="project-entry">
      <h3>Online Shopping Application</h3>
      <p>Tech Stack: HTML, CSS, JavaScript, AngularJS</p>
      <p>Features: Login/signup, shopping cart, product details</p>
    </div>
  </div>
  </div>