/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Basic styling */
  .app {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  nav {
    background-color: #333;
    color: #fff;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #ff9900;
  }
  
  /* Styling for individual components */
  .about-me, .education, .projects, .contact-details {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .projects, .education, .contact-details {
    display: none;
  }
  
  