<div [@slideDown] class="home-container">
  <header>
    <h1 class="name">Shilpi Kumari</h1>
    <h2 class="degree">B.Tech in Computer Science (2019-2023)</h2>
  </header>

  <section class="intro">
    <p>Welcome to my portfolio! I'm a passionate software developer with expertise in .NET, C#, and SQL.</p>
    <p>
      I have hands-on experience in building applications using .NET Core, ADO.NET, MVC, Web API, and frontend technologies like React and Angular.
    </p>
  </section>

  <section class="skills">
    <h3>Skills</h3>
    <ul>
      <li>.NET Core, C#, MVC, ADO.NET</li>
      <li>SQL Server, Entity Framework</li>
      <li>Angular, HTMl,CSS JavaScript, TypeScript</li>
      <li>REST API Development</li>
      <li>Git/GitHub, Postman</li>
    </ul>
  </section>
  <section class="resume">
    <a href="https://drive.google.com/file/d/1Jxf_lZ6JRFD9cT3MHfL3Wpf6TqdQTgGc/view?usp=sharing" class="resume-link">
      📄 View My Resume
    </a>
  </section>
</div>
